html/*
docs/*
latex/
latex/*
binary/*
library/ClientSocket.o
library/TelnetProxy.o
library/WiflyControl.o
library/TelnetProxy_ut.bin
library/WiflyControl_ut.bin
*.apk*
*.bin
*.o
library/BroadcastReceiver.o
library/ComProxy.o
library/intelhexclass.o
*.eps

UserInterfaceState.xcuserstate
TestRecentEndpoints.txt
TestRecentEndpoints2.txt
recent.txt
autoscan.log
configure.scan
firmware/autoscan.log
firmware/configure.scan
library/autoscan.log
library/configure.scan
Makefile
TestOutput.txt
autom4te.cache/output.0
autom4te.cache/requests
autom4te.cache/traces.0
config.log
config.status
