# use new docker environment
sudo: false

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - build-essential
      - git
      - libc6-i386
      - g++-5
      - gcc-5

# We use cpp for unit tests, and c for the main project.
language: cpp
compiler:
      - gcc

before_install:
  - curl --retry 10 --retry-max-time 120 -L "https://launchpad.net/gcc-arm-embedded/5.0/5-2015-q4-major/+download/gcc-arm-none-eabi-5_2-2015q4-20151219-linux.tar.bz2" | tar xfj -

install:
  - export PATH=$PATH:$PWD/gcc-arm-none-eabi-5_2-2015q4/bin
  - if [ "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5"; fi

before_script: 
        - arm-none-eabi-gcc --version

script: 
        - ./configure
        - make test 
        - make clean 
