<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="biz.bruenn.WiflyLight"
    android:versionCode="30"
    android:versionName="0.30" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true" >
        <activity
            android:name="biz.bruenn.WyLight.SelectRemoteActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="biz.bruenn.WyLight.EditCommandActivity"
            android:label="@string/title_activity_edit_command" >
        </activity>
        <activity
            android:name="biz.bruenn.WyLight.EditScriptActivity"
            android:label="@string/title_activity_edit_script" >
        </activity>
        <activity
            android:name="biz.bruenn.WyLight.ScriptImportActivity"
            android:label="@string/title_activity_script_import" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:mimeType="text/wylightscript" />
				<data android:pathPattern=".*" />
				<data android:host="*" />
			</intent-filter>
        </activity>
        <activity
            android:name="biz.bruenn.WyLight.WiflyControlActivity"
            android:label="@string/title_activity_wifly_control" >
        </activity>
    </application>

</manifest>
