/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 30, 2013, 7:21:44 AM
    Author     : nilsweiss
*/

/* CUSTOMIZE BACKGROUNDS FOR PARALLAX
-------------------------------------------------- */
.section_feature {
    height: auto;  
    margin: 80px auto; 
    width: auto; 
    padding: 100px 0;
    position: relative; 
}
/*
#section_marketing {
    height: auto;  
    margin: 0 auto; 
    width: auto; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    position: relative; 
}
*/

#section_about { 
    background: url(../media/about.png) 50% 0; 
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    padding-top: 100px;
    color: rgb(150,150,150);
    
}

#skrollr-body {

}

.parallax {
    position: relative;
}

#section_light {
    background-color: #fff;
}
